*.SLDPRT
*.SLDASM
*.STEP
*.3mf

*.xlsx

/Hardware/Model/Parts/*
!/Hardware/Model/Parts/AcrylicFront/
!/Hardware/Model/Parts/FrontFixture/
!/Hardware/Model/Parts/Shell/
/Hardware/Model/Parts/AcrylicFront/*
/Hardware/Model/Parts/FrontFixture/*
/Hardware/Model/Parts/Shell/*
!/Hardware/Model/Parts/FrontFixture/v1.1/
!/Hardware/Model/Parts/Shell/v1.5/
/Hardware/Model/Parts/FrontFixture/v1.1/*
/Hardware/Model/Parts/Shell/v1.5/*
!/Hardware/Model/Parts/AcrylicFront/AcrylicFront_v1.0.DWG
!/Hardware/Model/Parts/FrontFixture/v1.1/FrontFixture_v1.1_3.0mm.STL
!/Hardware/Model/Parts/FrontFixture/v1.1/FrontFixture_v1.1_3.0mm_0.2mm_PLA_MK3S_2h21m.gcode
!/Hardware/Model/Parts/Shell/v1.5/Shell_v1.5_0.2mm_PLA_MK3S_1d5h54m.gcode
!/Hardware/Model/Parts/Shell/v1.5/Shell_v1.5.STL